// "Maximum red" (color from Yelp docs), "Steel blue", "Jet", "Eggshell"
$yelp-red: #d32323;
$color-2: #2e86ab;
$color-3: #343434;
$color-4: #eef4d4;
$circ-1: rgb(255, 189, 67);
$circ-2: rgb(60, 238, 60);
$circ-3: rgb(109, 109, 255);
$circ-4: rgb(255, 128, 255);

$primary-font: 'Rubik', sans-serif;

body {
  font-family: $primary-font;
  color: $color-3;
}

.header {
  display: flex;
  margin: 5px;
  align-items: baseline;

  .acronym {
    color: $yelp-red;
    font-size: xx-large;
    font-weight: 1000;
  }

  .fullName {
    font-size: large;
    padding-left: 1em;
    // padding: 1em;
  }
}

.searchBar {
  border-radius: 5px;
  background-color: $yelp-red;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .searchConfig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 1em 0.5em 1em;
      min-height: 80px;

      .searchLabel {
        color: white;
        padding-left: 0.5em;
      }

      .inputChiclet {
        display: flex;
        flex-direction: row;
        height: 2em;
        border-radius: 0.5em;
        box-sizing: border-box;

        .textInput {
          border-radius: 0.5em 0 0 0.5em;
          border: 1px $color-3 solid;
          height: 100%;
          width: 13em;
          padding: 0.1em 0.5em;
          font-size: medium;
          box-sizing: border-box;
        }

        .submitInput {
          border-radius: 0 0.5em 0.5em 0;
          background-color: $color-2;
          border: 1px $color-3 solid;
          padding: 0.1em 0.5em;
          margin-left: -3px;
          height: 100%;
          box-sizing: border-box;
          font-weight: 700;
        }

        .submitInput:hover {
          cursor: pointer;
          background-color: lighten($color-2, 15%);
          color: $color-4;
        }
      }

      .termsHolder {
        display: flex;
        flex-direction: row;
      }

      .providedLoc,
      .providedTerm {
        background-color: $color-4;
        color: black;
      }
    }
  }
  .submitBtnHolder {
    display: flex;
    padding: 0 1em;

    .submitBtn {
      // min-width: 100px;
      height: 1.5em;
      // overflow: hidden;
      border: 1px solid $color-3;
      border-radius: 1em;
      background-color: $color-2;
      font-size: x-large;
      flex: 0 0 120px;
    }

    .submitBtn:hover {
      cursor: pointer;
      background-color: lighten($color-2, 15%);
      color: $color-4;
    }
  }
}

a {
  text-decoration: none;
}

.ContentArea {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .CardContainer {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // .cardList {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   flex-wrap: wrap;

    // a:hover {
    //   .bizNumberHolder {
    //     background-color: pink;
    //   }
    // }

    .Card {
      display: flex;
      margin: 10px 5px 0 5px;
      border: $color-3 solid 2px;
      border-radius: 0.5em;
      width: 300px;

      &:hover {
        border-color: $color-2;
      }

      .bizImgBox {
        overflow: hidden;
        width: 100px;
        height: 101px;
        position: relative;
        border-radius: 0.35em 0 0 0.35em;
        background-color: $color-3;

        .bizImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }

        .bizNumberHolder {
          position: absolute;
          left: 0.5em;
          top: 0.5em;
          border-radius: 50%;
          width: 2em;
          height: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-2;

          .bizNumber {
            color: white;
            font-size: x-large;
          }
        }
      }

      .bizDetailsBox {
        width: calc(100% - 131px);
        padding: 5px 0 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bizName {
          font-size: medium;
          color: $color-2;
          width: calc(100% - 10px);

          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
        .bizAddress {
          font-size: x-small;
          color: $color-3;
        }
        .bizDetailsImages {
          .stars {
            width: 120px;
            height: auto;
          }
          .yelpLogo {
            // 48px is minimum width
            width: 48px;
            height: auto;
          }
        }
      }
    }
  }
}
// }

.ticTac {
  background-color: $color-2;
  color: white;
  padding: 0.5em;
  font-size: x-small;
  border-radius: 1em;
  margin-top: 0.5em;
  display: inline;
  margin-left: 0.5em;
}

.circleColumn {
  width: 26px;
}

.circle {
  border-radius: 50%;
  border: $color-3 solid 2px;
  width: 12px;
  height: 12px;
  background-color: lighten($color-3, 50%);
  margin: 5px;

  &.circ0 {
    background-color: $circ-1;
  }
  &.circ1 {
    background-color: $circ-2;
  }
  &.circ2 {
    background-color: $circ-3;
  }
  &.circ3 {
    background-color: $circ-4;
  }
}

.stickyBar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.termChiclet,
.locChiclet,
.Legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.termChiclet,
.locChiclet {
  padding: 3px 6px 3px 3px;
  margin: 0.5em 0.25em 0.5em 0.25em;
  border-radius: 10px;
  border: solid $color-3 1px;
  align-items: center;
}

@media (max-width: 370px) {
  .header > .fullName {
    font-size: small;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $color-2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
