body {
  font-family: "Rubik", sans-serif;
  color: #343434; }

.header {
  display: flex;
  margin: 5px;
  align-items: baseline; }
  .header .acronym {
    color: #d32323;
    font-size: xx-large;
    font-weight: 1000; }
  .header .fullName {
    font-size: large;
    padding-left: 1em; }

.searchBar {
  border-radius: 5px;
  background-color: #d32323;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .searchBar .searchConfig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .searchBar .searchConfig form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 1em 0.5em 1em;
      min-height: 80px; }
      .searchBar .searchConfig form .searchLabel {
        color: white;
        padding-left: 0.5em; }
      .searchBar .searchConfig form .inputChiclet {
        display: flex;
        flex-direction: row;
        height: 2em;
        border-radius: 0.5em;
        box-sizing: border-box; }
        .searchBar .searchConfig form .inputChiclet .textInput {
          border-radius: 0.5em 0 0 0.5em;
          border: 1px #343434 solid;
          height: 100%;
          width: 13em;
          padding: 0.1em 0.5em;
          font-size: medium;
          box-sizing: border-box; }
        .searchBar .searchConfig form .inputChiclet .submitInput {
          border-radius: 0 0.5em 0.5em 0;
          background-color: #2e86ab;
          border: 1px #343434 solid;
          padding: 0.1em 0.5em;
          margin-left: -3px;
          height: 100%;
          box-sizing: border-box;
          font-weight: 700; }
        .searchBar .searchConfig form .inputChiclet .submitInput:hover {
          cursor: pointer;
          background-color: #54acd1;
          color: #eef4d4; }
      .searchBar .searchConfig form .termsHolder {
        display: flex;
        flex-direction: row; }
      .searchBar .searchConfig form .providedLoc,
      .searchBar .searchConfig form .providedTerm {
        background-color: #eef4d4;
        color: black; }
  .searchBar .submitBtnHolder {
    display: flex;
    padding: 0 1em; }
    .searchBar .submitBtnHolder .submitBtn {
      height: 1.5em;
      border: 1px solid #343434;
      border-radius: 1em;
      background-color: #2e86ab;
      font-size: x-large;
      flex: 0 0 120px; }
    .searchBar .submitBtnHolder .submitBtn:hover {
      cursor: pointer;
      background-color: #54acd1;
      color: #eef4d4; }

a {
  text-decoration: none; }

.ContentArea {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ContentArea .CardContainer {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .ContentArea .CardContainer .Card {
      display: flex;
      margin: 10px 5px 0 5px;
      border: #343434 solid 2px;
      border-radius: 0.5em;
      width: 300px; }
      .ContentArea .CardContainer .Card:hover {
        border-color: #2e86ab; }
      .ContentArea .CardContainer .Card .bizImgBox {
        overflow: hidden;
        width: 100px;
        height: 101px;
        position: relative;
        border-radius: 0.35em 0 0 0.35em;
        background-color: #343434; }
        .ContentArea .CardContainer .Card .bizImgBox .bizImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center; }
        .ContentArea .CardContainer .Card .bizImgBox .bizNumberHolder {
          position: absolute;
          left: 0.5em;
          top: 0.5em;
          border-radius: 50%;
          width: 2em;
          height: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #2e86ab; }
          .ContentArea .CardContainer .Card .bizImgBox .bizNumberHolder .bizNumber {
            color: white;
            font-size: x-large; }
      .ContentArea .CardContainer .Card .bizDetailsBox {
        width: calc(100% - 131px);
        padding: 5px 0 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .ContentArea .CardContainer .Card .bizDetailsBox .bizName {
          font-size: medium;
          color: #2e86ab;
          width: calc(100% - 10px); }
        .ContentArea .CardContainer .Card .bizDetailsBox .bizAddress {
          font-size: x-small;
          color: #343434; }
        .ContentArea .CardContainer .Card .bizDetailsBox .bizDetailsImages .stars {
          width: 120px;
          height: auto; }
        .ContentArea .CardContainer .Card .bizDetailsBox .bizDetailsImages .yelpLogo {
          width: 48px;
          height: auto; }

.ticTac {
  background-color: #2e86ab;
  color: white;
  padding: 0.5em;
  font-size: x-small;
  border-radius: 1em;
  margin-top: 0.5em;
  display: inline;
  margin-left: 0.5em; }

.circleColumn {
  width: 26px; }

.circle {
  border-radius: 50%;
  border: #343434 solid 2px;
  width: 12px;
  height: 12px;
  background-color: #b4b4b4;
  margin: 5px; }
  .circle.circ0 {
    background-color: #ffbd43; }
  .circle.circ1 {
    background-color: #3cee3c; }
  .circle.circ2 {
    background-color: #6d6dff; }
  .circle.circ3 {
    background-color: #ff80ff; }

.termChiclet,
.locChiclet,
.Legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10; }

.termChiclet,
.locChiclet {
  padding: 3px 6px 3px 3px;
  margin: 0.5em 0.25em 0.5em 0.25em;
  border-radius: 10px;
  border: solid #343434 1px;
  align-items: center; }

.Legend {
  background-color: white;
  width: 100%; }

@media (max-width: 370px) {
  .header > .fullName {
    font-size: small; } }
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #2e86ab;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2e86ab transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=output.css.map */
