body {
  font-family: "Rubik", sans-serif;
  color: #343434; }

.header {
  display: flex;
  margin: 5px;
  align-items: baseline; }
  .header .acronym {
    color: #d32323;
    font-size: xx-large;
    font-weight: 1000; }
  .header .fullName {
    font-size: large;
    padding-left: 1em; }

.searchBar {
  border-radius: 5px;
  background-color: #d32323;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .searchBar .searchConfig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .searchBar .searchConfig form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 1em 0.5em 1em;
      min-height: 80px; }
      .searchBar .searchConfig form .searchLabel {
        color: white;
        padding-left: 0.5em; }
      .searchBar .searchConfig form .inputChiclet {
        display: flex;
        flex-direction: row;
        height: 2em;
        border-radius: 0.5em;
        box-sizing: border-box; }
        .searchBar .searchConfig form .inputChiclet .textInput {
          border-radius: 0.5em 0 0 0.5em;
          border: 1px #343434 solid;
          height: 100%;
          width: 15em;
          padding: 0.1em 0.5em;
          font-size: medium;
          box-sizing: border-box; }
        .searchBar .searchConfig form .inputChiclet .submitInput {
          border-radius: 0 0.5em 0.5em 0;
          background-color: #2e86ab;
          border: 1px #343434 solid;
          padding: 0.1em 0.5em;
          margin-left: -3px;
          height: 100%;
          box-sizing: border-box;
          font-weight: 700; }
        .searchBar .searchConfig form .inputChiclet .submitInput:hover {
          cursor: pointer;
          background-color: #54acd1;
          color: #eef4d4; }
      .searchBar .searchConfig form .termsHolder {
        display: flex;
        flex-direction: row; }
      .searchBar .searchConfig form .providedLoc,
      .searchBar .searchConfig form .providedTerm {
        background-color: #eef4d4;
        color: black; }
  .searchBar .submitBtnHolder {
    display: flex;
    padding: 0 1em; }
    .searchBar .submitBtnHolder .submitBtn {
      height: 1.5em;
      border: 1px solid #343434;
      border-radius: 1em;
      background-color: #2e86ab;
      font-size: x-large;
      flex: 0 0 120px; }
    .searchBar .submitBtnHolder .submitBtn:hover {
      cursor: pointer;
      background-color: #54acd1;
      color: #eef4d4; }

a {
  text-decoration: none; }

.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .CardContainer .cardList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .CardContainer .cardList .Card {
      display: flex;
      margin: 10px 5px 0 5px;
      border: #343434 solid 2px;
      border-radius: 0.5em;
      width: 300px; }
      .CardContainer .cardList .Card:hover {
        border-color: #2e86ab; }
      .CardContainer .cardList .Card .bizImgBox {
        overflow: hidden;
        width: 100px;
        height: 101px;
        position: relative;
        border-radius: 0.35em 0 0 0.35em;
        background-color: #343434; }
        .CardContainer .cardList .Card .bizImgBox .bizImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center; }
        .CardContainer .cardList .Card .bizImgBox .bizNumberHolder {
          position: absolute;
          left: 0.5em;
          top: 0.5em;
          border-radius: 50%;
          width: 2em;
          height: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #2e86ab; }
          .CardContainer .cardList .Card .bizImgBox .bizNumberHolder .bizNumber {
            color: white;
            font-size: x-large; }
      .CardContainer .cardList .Card .bizDetailsBox {
        width: calc(100% - 110px);
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .CardContainer .cardList .Card .bizDetailsBox .bizName {
          font-size: medium;
          color: #2e86ab;
          width: calc(100% - 10px); }
        .CardContainer .cardList .Card .bizDetailsBox .bizAddress {
          font-size: x-small;
          color: #343434; }
        .CardContainer .cardList .Card .bizDetailsBox .bizDetailsImages .stars {
          width: 120px;
          height: auto; }
        .CardContainer .cardList .Card .bizDetailsBox .bizDetailsImages .yelpLogo {
          width: 48px;
          height: auto; }

.ticTac {
  background-color: #2e86ab;
  color: white;
  padding: 0.5em;
  font-size: x-small;
  border-radius: 1em;
  margin-top: 0.5em;
  display: inline;
  margin-left: 0.5em; }

/*# sourceMappingURL=output.css.map */
